.Board{
	width : 350px;
	border : 1px solid #ccc;
}

@font-face{
	font-family: 'Billabong';
	src : url('./font/Billabong.ttf') format(truetype);
}

.logo{
	width: 175px;
	height: 51px;
	font-size: 58px;
	font-family: Billabong ;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.div1{
	width: 268px;
	height: 38px;
	border: 1px solid rgb(228, 228, 228);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 5px;	
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 7px;
	background-color: #faf9f9;
}

.div2{
	width: 268px;
	height: 38px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: transparent;
}

.input{
	border : none;
	width: 258px;
	height: 36px;
	outline: none;
	color: rgb(122, 122, 122);
	font-size: 12px;
	background-color: #faf9f9;	
}

.label1{
	border : none;
	width: 258px;
	height: 36px;
	outline: none;
	color: rgb(122, 122, 122);
	font-size: 12px;
	background-color: #faf9f9;	
}


.label2{
	border : none;
	width: 258px;
	height: 36px;
	outline: none;
	color: rgb(122, 122, 122);
	font-size: 12px;
	background-color: #faf9f9;	
}

.button1{
	background-color: rgb(0, 140, 255);
	color : #ffffff;
	border: none;
	width: 268px;
	height: 28px;
	border-radius: 5px;
	outline: none;
}

.button2{
	background-color: rgb(145, 204, 252);
	color : #ffffff;
	border: none;
	width: 268px;
	height: 28px;
	border-radius: 5px;
	outline: none;
}


